{% extends 'base.html' %}
{% load humanize %}

{% block content %}



 <div class="row">
        <div class="col-md-12">
 <div class="content-section">

 <h2>Order List</h2>
<div class="table-responsive">
<table class="table mb-0">
    <thead>
      <tr>
          <th>No</th>
          <th>Topic</th>
          <th>Instructions</th>
        <th>Urgency</th>
          <th>Pages</th>
          <th>Pdf</th>
          <th>Cost(USD)</th>


      </tr>
    </thead>
    <tbody>
    {% if orders %}

          <ol>


    {% for order in orders %}
    <tr>
         <td>{{ order.id }}</td>
        <td>{{ order.topic }}</td>
          <td>{{ order.instructions }}</td>
        <td>{{ order.urgency }}</td>
    <td>{{ order.pages }}</td>
         <td>
            <a href="{{ order.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
              View Sent File
            </a>
          </td>
    <td>{{ order.total|intcomma }}</td>


    </tr>


{% endfor %}
               </ol>


          {% else %}

          <p>There Are no current orders</p>


          {% endif %}




 </tbody>




  </table>
</div>

 </div>
        </div>
</div>








{% endblock %}